@model mainCategory

@{
    ViewBag.title = "Create New Main Category";
    ViewBag.heading = "Create New Main Category";
}

@section breadcrumb
{
    <li class="breadcrumb-item active"> <a asp-area="admin" asp-controller="Home" asp-action="Index"> home </a> </li>
    <li class="breadcrumb-item active"> <a asp-area="admin" asp-controller="mainCat" asp-action="Index"> main categoy </a> </li>
    <li class="breadcrumb-item active">create main category</li>
}

@* -------------------------------------- Start RenderBody ------------------------------------------------------ *@

<form asp-area="admin" asp-controller="mainCat" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.mainCategoryName" class="col-md-2 custom-control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.mainCategoryName" class="form-control" />
            <span asp-validation-for="@Model.mainCategoryName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.mainCategoryPhoto" class="col-md-2 custom-control-label"></label>
        <div class="col-md-10">
            <input type="file" name="mainCategoryPhoto" class="form-control" />
            <span asp-validation-for="@Model.mainCategoryPhoto" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-info" value="Save" />
    </div>
</form>