<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject</title>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/login_overlay.css" rel='stylesheet' type='text/css' />
    <link href="~/css/style6.css" rel='stylesheet' type='text/css' />
    <link href="~/css/shop.css" rel="stylesheet"  type="text/css" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css/owl.theme.css" rel="stylesheet"  type="text/css" media="all">
    <link href="~/css/jquery-ui1.css" rel="stylesheet" type="text/css" >
    <link href="~/css/checkout.css" rel="stylesheet" type="text/css">
    <link href="~/css/contact.css" rel='stylesheet' type='text/css' />
    <link href="~/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <link href="~/css/flexslider.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <style>
        #ui-id-1 {
            width: 575px;
            background-color: black;
            color: white;
            list-style-type: none;
        }

        .ui-widget-content a {
            color: white;
        }
    </style>
</head>
<body>
    <div class="banner-top container-fluid" id="home">
        <!-- header -->
        <header>
            <div class="row">
                <div class="col-md-3 top-info text-left mt-lg-4">
                    <h6>Need Help</h6>
                    <ul>
                        <li>
                            <i class="fas fa-phone"></i> Call
                        </li>
                        <li class="number-phone mt-3">Mr: Nabil</li>
                    </ul>
                </div>
                <div class="col-md-6 logo-w3layouts text-center">
                    <img src="~/photos/logo.png" alt="no img">
                </div>

                <div class="col-md-3 top-info-cart text-right mt-lg-4">
                    <ul class="cart-inner-info">
                        <li class="button-log">
                            <a class="btn-open" href="#">
                                <span class="fa fa-user" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li class="galssescart galssescart2 cart cart box_1">
                            <form action="#" method="post" class="last">
                                <a class="top_googles_cart" style="color:#DBA901" value="" href="~/Hemalaya/shoppingcart">
                                    My Cart
                                    <i class="fas fa-cart-arrow-down"></i>
                                </a>
                            </form>
                        </li>
                    </ul>

                    <!--start login Part-->
                    <div class="overlay-login text-left">
                        <button type="button" class="overlay-close1 mb-2">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <partial name="_LoginPartial" />

                    </div>
                    <!--End login part-->

                </div>
            </div>
            <div class="search">
                <div class="mobile-nav-button">
                    <button id="trigger-overlay" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <!-- open/close -->
                <div class="overlay overlay-door">
                    <button type="button" class="overlay-close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                    <form action="#" method="post" class="d-flex">
                        <input class="form-control" id="search" type="search" placeholder="Search here..." required="">
                        <button type="submit" class="btn btn-primary submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>

                </div>
                <!-- open/close -->
            </div>
            <label class="top-log mx-auto"></label>
            <nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">

                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-mega mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link ml-lg-0" href="@Url.Action("Index","Hemalaya")">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="About" asp-controller="Hemalaya">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Shop
                            </a>
                            <ul class="dropdown-menu mega-menu ">
                                <li>
                                    <div class="row" id="CategoriesShop">
                                        <div style="text-align:center; color:black">
                                            <i class="fa fa-spinner fa-spin" style="font-size:40px"></i>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <hr />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="contact" asp-controller="Hemalaya">Contact</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
    </div>
    <div>
        @RenderBody()
    </div>

    <!--footer -->
    <footer class="py-lg-5 py-3">
        <div class="container-fluid px-lg-5 px-3">
            <div class="row footer-top-w3layouts">
                <div class="col-lg-3 footer-grid-w3ls">
                    <div class="footer-title">
                        <h3>About Us</h3>
                    </div>
                    <div class="footer-text">
                        <p>
                            Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at
                            tellus. Nulla porttitor accumsana tincidunt.
                        </p>
                        <ul class="footer-social text-left mt-lg-4 mt-3">

                            <li class="mx-2">
                                <a href="#">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="#">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="#">
                                    <span class="fab fa-google-plus-g"></span>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="#">
                                    <span class="fab fa-linkedin-in"></span>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="#">
                                    <span class="fas fa-rss"></span>
                                </a>
                            </li>
                            <li class="mx-2">
                                <a href="#">
                                    <span class="fab fa-vk"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 footer-grid-w3ls">
                    <div class="footer-title">
                        <h3>Get in touch</h3>
                    </div>
                    <div class="contact-info">
                        <h4>Location :</h4>
                        <p>0926k 4th block building, Shebin El kom City.</p>
                        <div class="phone">
                            <h4>Contact :</h4>
                            <p>Phone : +0201007213123</p>
                            <p>
                                Email :
                                <a href="mailto:info@example.com">Ecommerce_ITI@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 footer-grid-w3ls">
                    <div class="footer-title">
                        <h3>Quick Links</h3>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="@Url.Action("Index","Hemalaya")">Home</a>
                        </li>
                        <li>
                            <a asp-action="" asp-controller="">About</a>
                        </li>
                        <li>
                            <a >Error</a>
                        </li>
                        <li>
                            <a >Shop</a>
                        </li>
                        <li>
                            <a >Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 footer-grid-w3ls">
                    <div class="footer-title">
                        <h3>Sign up for your offers</h3>
                    </div>
                    <div class="footer-text">
                        <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
                        <form action="#" method="post">
                            <input class="form-control" type="email" name="Email" placeholder="Enter your email..." required="">
                            <button class="btn1">
                                <i class="far fa-envelope" aria-hidden="true"></i>
                            </button>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copyright-w3layouts mt-4">
                <p class="copy-right text-center ">
                    &copy; 2020 7Puff. All Rights Reserved | Design by
                    <a href="#"> Ecommerce_ITI </a>
                </p>
            </div>
        </div>
    </footer>
    <!--jQuery-->
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <!-- newsletter modal -->
    <!--search jQuery-->
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <script src="~/js/classie-search.js"></script>
    <script src="~/js/demo1-search.js"></script>
    <!--//search jQuery-->
    <!-- cart-js -->
    <script src="~/js/minicart.js"></script>
    <script>
        googles.render();

        googles.cart.on('googles_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <script>
        $(document).ready(function () {
            $("#CategoriesShop").load("@Url.Action("index", "Subcategoriyinfo")")
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $("#search").autocomplete({
                source: availableTags  @*'@Url.Action("search", "Subcategoriyinfo")'*@
                ,
                messages: {
                    noResults: "", results: ""
                }
            });

            $(".button-log a").click(function () {
                $(".overlay-login").fadeToggle(200);
                $(this).toggleClass('btn-open').toggleClass('btn-close');
            });
        });
        $('.overlay-close1').on('click', function () {
            $(".overlay-login").fadeToggle(200);
            $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
            open = false;
        });
    </script>
    <!-- carousel -->
    <script src="~/js/jquery-ui.js"></script>

    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->

    <script src="~/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    900: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>

    <!-- //end-smooth-scrolling -->
    <!-- single -->
    <script src="~/js/imagezoom.js"></script>
    <!-- single -->
    <!-- script for responsive tabs -->
    <script src="~/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- FlexSlider -->
    <script src="~/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider1').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>

    <script>
        $(document).ready(function () {

            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->

    <!--Filter products by price-->
    <script>

        //when we select any value from drop down list. filter products depending on selected price
        $("#dropdownlist").on("change", function () {
            let price = $("#dropdownlist").val();
            $('#prods').load("/User/subCategoryData/FilterByPrice?priceRange=" + price);
        });

        //filter by discount value
        $("#discount-dropdownlist").on("change", function () {
            let discount = $("#discount-dropdownlist").val();
            $('#prods').load("/User/subCategoryData/FilterByDiscount?Discount=" + discount);
        });

        //filter by rate
        //$("#discount-dropdownlist").on("change", function () {
        //    let avgRate = $("#discount-dropdownlist").val();
        //    $('#prods').load("/User/subCategoryData/FilterByRate?avgRate=" + avgRate);
        //})

        function FilterByRate(rate) {
            $('#prods').load("/User/subCategoryData/FilterByRate?avgRate=" + rate);
        }
    </script>
    <script>
        
    </script>

    <script src="~/js/bootstrap.js"></script>
    @RenderSection("Scripts", required: false)

    <!-- js file -->
</body>
</html>
